body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(rgb(1, 141, 185) 50%, rgb(30, 29, 29) 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 10px;
}

.box {
    padding: 20px;
    text-align: center;
}

.logo {
    grid-column: span 2;
    width: 570px;
    height: 200px;
    border-radius: 20px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo h1{
    font-family: Mouse Memoirs, sans-serif;
    color: rgb(86, 157, 144);
}

.cadastro {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Mouse Memoirs, sans-serif;
    color: #67bece;
}

.compra {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Mouse Memoirs, sans-serif;
    color: #009688;    
}

.agendamento {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Mouse Memoirs, sans-serif;
    color:#F44336;
}

.cliente {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Mouse Memoirs, sans-serif;
    color:#4db6e7;
}

.cadastro, .compra, .agendamento, .cliente{
    height: 100px;
    background-color: aliceblue;
    border-radius: 20px;
}

.cadastro:hover, .compra:hover, .agendamento:hover, .cliente:hover{
    background-color: rgb(204, 230, 238);
    cursor: pointer;
}

a{
    text-decoration: none;
}