body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(rgb(1, 141, 185) 50%, rgb(30, 29, 29) 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Mouse Memoirs, sans-serif; /* Aplicando a mesma fonte à página inteira */
}

.painel-principal {
    background-color: #ffffff;
    width: 570px;
    height: 500px;
    border-radius: 30px;
    text-align: right;
    padding: 20px;
}

h1 {
    padding-top: 25px;
    text-align: center;
    color: rgb(1, 141, 185);
}

.formulario {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

input {
    margin-bottom: 17px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(1, 141, 185);
    padding: 5px;
}

/* ... (códigos anteriores) */

.btn-cadastrar {
    width: 130px; /* Aumentando a largura do botão */
    background-color: rgb(1, 141, 185);
    color: #ffffff;
    border: rgb(1, 141, 185);
    border-radius: 10px;
    padding: 8px; /* Aumentando o preenchimento interno */
    font-size: 18px; /* Ajustando o tamanho da fonte */
    cursor: pointer; /* Adicionando o ponteiro ao passar o mouse para indicar que é clicável */
    margin: auto; /* Centralizando o botão */
    margin-top: 10px;
}


.cadastre-se {
    display: flex;
    justify-content: flex-end; /* Alinhando à direita */
    align-items: center; /* Alinhando verticalmente ao centro */
    margin-top: -10px; /* Subindo mais o bloco */
    margin-right: 35px;
}

.cadastre-se p {
    color: #000000; /* Cor do texto "Já tem uma conta?" */
    font-size: 18px;
}

.btn-login {
    color: rgb(1, 141, 185);
    text-decoration: none;
    font-size: 18px;
    margin-left: 5px;
}

.btn-login:hover {
    color: rgb(6, 94, 131);
}

.aviso-sucesso {
    display: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
}