body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(rgb(1, 141, 185) 50%, rgb(30, 29, 29) 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.painel-principal {
    background-color: #ffffff;
    width: 570px;
    height: 400px;
    border-radius: 30px;
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: Mouse Memoirs, sans-serif;
    padding-top: 25px;
    text-align: center;
    color: rgb(1, 141, 185);
}

.instrucoes {
    font-size: 18px;
    font-family: Mouse Memoirs, sans-serif;
    color: #000;
    margin: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

input {
    margin-bottom: 17px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(1, 141, 185);
    padding: 5px;
}

.btn-enviar {
    width: 90px;
    background-color: rgb(1, 141, 185);
    color: #ffffff;
    border: rgb(1, 141, 185);
    border-radius: 40px;
    margin: auto;
    margin-top: 30px;
    font-family: Mouse Memoirs, sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.btn-cancelar {
    display: block;
    text-decoration: none;
    color: rgb(1, 141, 185);
    margin-top: -15px;
    font-family: Mouse Memoirs, sans-serif;
    font-size: 18px;
}

.btn-cancelar:hover {
    color: rgb(6, 94, 131);
}
